<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Nicholas Evans</title>
	<meta name="description" content="Nick Evans is an award winning designer and web developer originally from London, now living in New York.">
	<meta name="author" content="Nicholas Evans">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">

	<link rel="stylesheet" href="http://wf.typotheque.com/WF-004305-001227" type="text/css" />
	<link rel="stylesheet" href="css/style.css">
	<script src="js/libs/modernizr.custom.07017.js"></script>
</head>

<body class="loading">
	<h1 class="visuallyhidden">Nick Evans is an award winning designer</h1>
	<div id="container">

		<article class="page" id="container-liner">
				
				<h3 class="visuallyhidden">I design websites for people</h3>
				<p class="visuallyhidden"><strong>Because the web should be simpler, even if that makes design difficult.</strong>
				A great example is the website I worked on at C&amp;G Partners for the City University of New York Graduate Center. This wasn't just a university, this was an institution trying to be known as a cultural center hosting public seminars, concerts, courses and more. The front page needed to convey this multiplicity from the start, and the rest of the website needed to help you navigate it. The front page became a sliding bookshelf, explaining each facet of the site as the user investigated, and inside we created dashboards for each area of interest.</p>
				<h3 class="visuallyhidden">I started out designing for print</h3>
				<p class="visuallyhidden"><strong>This is where I learnt to tell stories.</strong>
				Working on branding, books and brochures taught me how to communicate a message, before I ever learnt how to communicate an interaction. Working for over three years for ex-Pentagram man Thomas Manss added a dash of German ordnung to what I'd learnt doing a Masters at the Royal College of Art. I discovered how to make the case for buying $10,000 speakers as well as how to craft a Red Dot award winning monograph.</p> 
				<h3 class="visuallyhidden">I can code what I design.</h3>
				<p class="visuallyhidden"><strong> Because I'm not just designing for the screen.</strong>
				I'm designing for Safari Reader, Instapaper, Flipboard, and yes, Google. That means looking under the hood as well as designing something that's feasible from the start. Moreover, I won't code better than your senior developer, but I can talk in his language.</p>

			<section id="section-0" class="division division-empty horizontal-carousel-wrapper waypoint-active touch-div">
				<div class="horizontal-carousel">
					<h2 id="mainMessage" class="main-message"><span class="visuallyhidden">Nick</span><span>Evans</span></h2>
				</div>
			</section>


			
			<section id="section-last" class="division division-future">
				<h1 class="static-title"><span class="static-title-liner">would love to hear from you...</span></h1>
				<div class="col touch-div">
					<div class="figcaption-liner">
						<p><strong class="big">Get in touch,<br /> send me an <script type="text/javascript">
						//<![CDATA[
						
						function hiveware_enkoder(){var i,j,x,y,x=
						"x=\"{@%25}B'<=8i778;8589;78;888;8>8;;:8;;688;;8;898<;88;8>8;868;;98;8787;8" +
						"8:;9888;8;8:8;878<8=8;8587868;;88887878=878:8;898<8>8;878<8<8<;:87898<;:8;" +
						"8:8;;98;8:8<888;;;8;898;:h778i<=8<858887888:87878<8:8<;;8;8>8<858887888:87" +
						"8<8<868;888<858887888:878>89;988898<888;8:8;;68;878;8:8<888<;;88;98;;;8;88" +
						"8;;:87888<;:8;868;8;8<8:8;;987;78;888;8>8;;:7>878i7g;>8g;=<9;<;j;:;h7j<=8h" +
						";>8g858i;>7=<7;k;;8g7<7<8i<>8g:h77;7888588;7888>878787;:88868;;;87;888;88;" +
						"8>8;868;;98;;9878:89;:888787;88:8:8;898<8>8;888<878;8:8;8<<><i8g7>7>877h;>" +
						"7=<7<9<8;7<:<87j<=7g7<7:7<7=;:<5;6;8<8;:;j<:8i7g<><g778g<>8i7<7<8g;;;k<77=" +
						";>8i858g;>8h<=7j;h;:;j;<<9;=8g;>7g8i8=857><g;;;k<77=;f8i9i;6<9;=7j;i;>;j7=" +
						"<=7j;h;:;j;<<9;=7h;>7g8=857>8g7i7i;f8j8i;>8g7><g<>7g8i<=7j;8;=;6<796<97=;f" +
						"7>8g<i<i<>8g'@~B,,@ktw-nB5@nA}3qjslym@n0B7.%22~0Bzsjxhfuj-,*,0}3xzgxyw-n17" +
						"..@$~%25>|@**>{@xqhvfdsh+{,>iru+l@3>l?{1ohqjwk>l..,~m@{1fkduFrghDw+l,05>li" +
						"+m?65,m.@<7>|.@Vwulqj1iurpFkduFrgh+m,%22|\";y='';x=unescape(x);for(i=0;i<x" +
						".length;i++){j=x.charCodeAt(i)-3;if(j<32)j+=94;y+=String.fromCharCode(j)}y";
						while(x=eval(x));}hiveware_enkoder();
						
						//]]>
						</script>
						</strong>
						
						<br /><br />
						</p>
						<noscript>
						<p>Sorry, please turn on javascript to see my e-mail address.</p>
						</noscript>
						
						<address id="hcard-Nicholas-William-Evans" class="vcard">
							<img src="http://www.gravatar.com/avatar/6a1469d229eb9bbedc426e089fdc05e8?s=80" alt="photo of Nicholas" class="photo visuallyhidden"/>
							<span class="fn n visuallyhidden">
								<span class="given-name">Nicholas</span>
								<span class="additional-name">William</span>
								<span class="family-name">Evans</span>
							</span>
							

							<a class="url visuallyhidden" href="http://www.nick-evans.com">http://www.nick-evans.com</a>
							<a class="email visuallyhidden" href="mailto:nick (at) my website's domain name">nick (at) my website's domain name</a>
							<div class="adr visuallyhidden">
								<span class="locality">Brooklyn</span>, 
								<span class="region">New York</span>
								<span class="country-name">USA</span>							
							</div>
							<p>Or give me a call <span class="tel">(347) 570 3575</span><br /><br /></p>
						</address>
						
						<p class="feint">Dig a little deeper at the following,</p>
						
						<ul class="feint">
							<li>Read my resum&eacute; on <a href="http://www.linkedin.com/in/nwe44" title="My linkedIn profile" target="_blank" rel="nofollow">LinkedIn</a></li>
							<li>See things that inspire me on my <a href="http://scrapbook.nick-evans.com" title="My scrapbook" target="_blank" >tumblog</a></li>
							<li>Follow me on <a href="http://www.twitter.com/nwe44" title="Nick Evans on twitter" target="_blank" rel="nofollow">twitter</a></li>
							<li>Read what I read on my <a href="http://delicious.com/nwe_44" title="My delicious" target="_blank" >delicious</a></li>
							<li>Look at my code on <a href="http://github.com/nwe44" title="My git hub profile" target="_blank" rel="nofollow">Github</a></li>
						</ul>
						
					</div>
					
				</div>
				
			</section>
			
		</article>
	
	
		<header id="main-header" class="head">
			<section class="main-title"><h1>Nick</h1></section>
		</header>
	
		<footer class="foot">
	
		</footer>

	</div>



  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.2.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts-->

	<script> 
		// separation of concerns, content should be here.
		nick.stripContent = [
		// This is really being done as a kind of lazy loading
		// later on this will be developed to be loaded by ajax.
		// first and last sections are special cases.
		{
			sectionName : 1,
			titleObscured : true,
			headline : "designs websites for people.", 
			callout : "Because the web should be simpler, even if that makes design difficult.",
			mainText : "A great example is the website I worked on at C&amp;G Partners for the City University of New York Graduate Center. This wasn't just a university, this was an institution trying to be known as a cultural center hosting public seminars, concerts, courses and more. The site needed to convey this complex mission from the start without overwhelming users as they delved deeper. The front page became a sliding bookshelf, explaining each facet of the site as the user investigated. Inside the site we created dashboards for each area of interest.",
			images : [
				{
					src:'img/work/CUNY-01.jpg',
					caption: "The frontpage uses a Kwicks style slider"
				},
				{
					src:'img/work/CUNY-02.jpg',
					caption: "The frontpage with a book open."
				},
				{
					src:'img/work/CUNY-03.jpg',
					caption: "The Areas of interest section is a dashboard to engage users with the GC's wide variety of activity."
				},
				{
					src:'img/work/CUNY-04.jpg',
					caption: ""
				}
			]
		
		},
		{
			sectionName : 2, 
			headline : "started out designing for print.", 
			callout : "This is where I learnt to tell stories.",
			mainText : "Working on branding, books and brochures taught me how to communicate a message, before I ever learnt how to communicate an interaction. Working for over three years for ex-Pentagram man Thomas Manss added a dash of German ordnung to what I'd learnt doing a Masters at the Royal College of Art. I discovered how to make the case for buying $10,000 speakers as well as how to craft a Red Dot award winning monograph.",
			images: [
				{
					src:'img/work/Gerhard-00.jpg',
					caption: "A monograph designed at Thomas Manss &amp; Company for The National Portrait Gallery"
				},
				{
					src:'img/work/Gerhard-01.jpg',
					caption: "The frontspiece"
				},
				{
					src:'img/work/Gerhard-02.jpg',
					caption: ""
				}
			]
		},
		{
			sectionName : 3, 
			headline : "can code what he designs.", 
			callout : "Because I'm not just designing for the screen.",
			mainText : "I'm designing for Safari Reader, Instapaper, Flipboard, and yes, Google. That means looking under the hood as well as designing something that's feasible from the start. Understanding the building blocks allows me to create design ideas I wouldn't otherwise have thought of, and prototype them in cases where drawings and photoshop mockups wouldn't do them justice. I won't code better than your senior developer, but I can talk in his language.",
			images: [
				{
					src:'img/work/lineLength.jpg',
					caption: "I made a tool to measure line lengths online",
					url: "http://nwe44.github.com/Line-length/"
				},
				{
					src:'img/github.jpg',
					caption: "See what I'm up to on GitHub",
					url: "http://www.github.com/nwe44"
				}
			]
		
		} // first and last sections are special cases.
	]
	</script>
	<script id="sectionTmpl" type="text/x-jquery-tmpl"> 
		<aside id="section-${sectionName}" class="division division-future">
			<h1 class="static-title{{if titleObscured}} static-title-obscured{{/if}} ">
				<span class="static-title-liner">${headline}</span>
			</h1>
			<div class="col touch-div">
				<div class="figcaption-liner">
					<p><strong{{if calloutModifier}} class="${calloutModifier}"{{/if}}>${callout}</strong> ${mainText}</p>
				</div>
			</div>
			<div class="horizontal-carousel horizontal-carousel-with-content horizontal-carousel-obscured touch-div slidewrap">
				<ul id="slider${sectionName}" class="horizontal-carousel-slider slider">
					{{each images}}
					<li id="slide${$index}" class="horizontal-carousel-slide">
						<figure>
							<img src="${$value.src}" />
							<figcaption class="horizontal-carousel-slide-caption">
								{{if $value.url}}<a href='${$value.url}' target='_blank'>{{/if}}
									${$value.caption}
								{{if $value.url}}</a>{{/if}}
							</figcaption>
						</figure> &nbsp;
					</li>
					{{/each}}
				</ul>
				<ul class="horizontal-carousel-controls">
					<li><a href="#slider${sectionName}" class="horizontal-carousel-control horizontal-carousel-controls-next ir main-sprite">Next</a></li>
					<li><a href="#slider${sectionName}" class="horizontal-carousel-control horizontal-carousel-controls-prev ir main-sprite">Prev</a></li>
				</ul>
			</div>
		</aside>	
	</script> 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-273609-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>